.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li {
    margin-bottom: 1rem ;
}

.experience li .title {
    font-size: 1.1rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
}

.experience li p {
    font-size: 0.9rem;
}

@media only screen and (min-width: 768px) {
    .experience li .title {
        font-size: 1.3rem;
    }

    .experience li .period {
        font-size: 1rem;
    }

    .experience li p {
        font-size: 1rem;
    }
}

.experience li .period::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/trabalho.svg');
    margin-right: .5rem;
}