@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: black;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.main::before, .main::after {
    content: '';
    background-image: url('/assets/img/background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);

}

@media only screen and (min-width: 768px) {

    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }

}

.icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    display: inline-block;
}

.icon-md {
    width: 32px;
    height: 32px;
}

.icon-lg {
    width: 80px;
    height: 80px;
}

.icon-hover {
    transition: transform .2s ease, filter .2s ease;
}

.icon-hover:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 6px rgba(85, 86, 158, 0.8));
}

@media only screen and (min-width: 768px) {
    .information p::before {
        width: 28px;
        height: 28px;
    }
}