.header {
    display: grid;
    grid-template-areas:
    "photo title"
    "photo information";
    gap: 0 1rem;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/header.svg');
}

.header .photo {
    grid-area: photo;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.header .title {
    grid-area: title;
    text-align: start;
    margin: 0;
    font-size: 1.8rem;
}

.information {
    grid-area: information;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .25rem 0;
    font-size: 0.9rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .usuario::before {
    background-image: url('../img/icons/usuario.svg');
}

.information .localiza::before {
    background-image: url('../img/icons/localiza.svg');
}

.information .telefone::before {
    background-image: url('../img/icons/telefone.svg');
}

.information .email::before {
    background-image: url('../img/icons/email.svg');
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
        "photo title"
        "photo information";
        gap: 1rem 2rem;
        align-items: center;
    }

    .header .photo {
        grid-area: photo;
        width: 200px;
        height: 200px;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        font-size: 2.5rem;
    }

    .information {
        grid-area: information;
        align-items: flex-start;
    }

    .information p {
        margin: .5rem 0;
        font-size: 1.125rem;
    }
}