.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 1.125rem;
}

.languages li::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/check.svg');
    /* This filter is to change the icon color to #55569E */
    filter: invert(30%) sepia(100%) saturate(200%) hue-rotate(220deg) brightness(90%) contrast(80%);
    margin-right: .5rem;
}